.DS_Store
.AppleDouble
.LSOverride
azure.err
iisnode.yml

#Build Distribution code
public/dist

#Node
node_modules

#SQL db
db/*.sqlite

# Icon must ends with two \r.
Icon




# Floobits
.floo
.floobit
.floo
.flooignore
